
.flex-content{
  //height: 100%;
  display: flex;
  flex: 1;
  //flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
  display:-webkit-box;
  background: #ffffff;

  .flex-primaryNav{
  }

  .flex-SecondaryNav{
  }

  .flex-listWrap{
  }

  .clear{
    clear: both;
  }
}
